name: 'Trigger Docker Hub'
on:
  schedule:
    - cron: '0 21 * * 0'
jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
    - name: curl
      uses: wei/curl@master
      with:
        args: -X POST ${{secrets.DOCKERHUB_WEBHOOK}}
